/* src/app/app.component.scss */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

mat-toolbar {
  height: 64px;
  padding: 0 16px;
}